{% extends "base.html" %}

{% block content %}
    <h1>Lai</h1>

    <h3 style="margin-top:15px">Welcome to lai, a command line program to store notes and keep then synchronized between multiple computers. The idea is to keep your commands, shortcuts, snippets and anything you want to have on hand at the console. You can also share notes with others.</h3>

    <h3 style="margin-top:15px">Download the <a href="https://github.com/lvidarte/lai-client">lai client</a> at github.</h3>

<hr />

<div class="container">
    <div class="row">

        <div class="span6">
            <h2>Client</h2>

            <p>Store a note</p>
            <pre>$ lai add 'grep -R &lt;pattern&gt; --include \*.txt &lt;dir&gt;'</pre>
            <p>Search</p>
            <pre>$ lai search grep
1: grep -R &lt;pattern&gt; --include \*.txt &lt;dir&gt;</pre>
            <p>Share with others</p>
            <pre>$ lai edit 1 --public</pre>
            <p>Sync with server</p>
            <pre>$ lai sync</pre>
            <p>Search in public notes</p>
            <pre>$ lai search --server grep
5015d7273042976dc5000230: egrep -w 'word1|word2' /path/to/file
5015d7363042976dc500031b: grep -i ps ~/.bash* | grep -v history</pre>
            <p>Copy from server</p>
            <pre>$ lai copy --server 5015d7273042976dc5000230</pre>

        </div>

        <div class="span6">
            <h2>Server</h2>

            <p>You can download and set your own <a href="https://github.com/lvidarte/lai-server">lai server</a> or use the public lai server.</p>

            <p>Whatever the chosen server, just <a href="/login">login</a> with your Google account and add a public key with a name to identify it. When configure the client use your email and the pub key name to authenticate against the server.</p>
        </div>

    </div>
</div>

<hr />

<p style="text-align:center">lai is <a href="http://www.gnu.org/philosophy/free-sw.html">free software</a>.</p>
{% end %}
